@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}

h1, h2, h3 {
    font-family: 'Syne' !important;
}


p {
    font-size: 20px;
}

a {
	text-decoration: none !important;
}

.entry-header.has-text-align-center.header-footer-group {
    display: none;
}

#site-footer.header-footer-group {
    display: none;
}


/* HEADER */

.site-logo {
    width: 191.61px;
    height: 18.87px;
}

div.header-inner.section-inner {
    padding: 0;
    margin: 0 0 0 37px;
}

.menu-item-40 a {
    color: black !important;
}
.menu-item-66 a {
    color: black !important;
    padding: 0 40px 0 40px;
}
.menu-item-41 a {
    width: 236px;
    color: white !important;
    font-weight: 700;
    background-color: #DC9F96;
    text-align: center;
    margin-right: 0;
}

li.menu-item a {
    font-size: 16px !important;
    height: 80px;
    padding-top: 30px;
    vertical-align: middle !important;

}

/* MAIN */

h1 span {
    font-size: 33px;
}
/* padding de tous les blocs group */
.wp-block-group__inner-container {
    padding: 50px 0 0 0;
}

.wp-block-group.alignfull.has-background.is-layout-constrained {
    border-radius: 0 0 5% 0;
}


.wp-block-gallery.has-nested-images.columns-2.is-cropped.wp-block-gallery-3.is-layout-flex img {
    padding: 15px;

}

img.wp-image-115 .wp-image-115 .wp-image-115 .wp-image-115 {
    width: 393px;
    height: 262px;
}

.wp-block-button__link.has-background.wp-element-button {
    width: 198px !important;
    height: 55px !important;
    font-family: 'Syne';
    font-weight: 400;
    text-transform : capitalize;
}

/* FOOTER */

div.footer-top.has-footer-menu {
    justify-content: center;
}

.footer-menu a {
    font-size: 16px;
    color: black !important;
    font-weight: 400;
}


