@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}

h1, h2, h3 {
    font-family: 'Syne' !important;
}

p {
    font-size: 20px;
}

a {
	text-decoration: none !important;
    font-size: 16px;
}

.entry-header.has-text-align-center.header-footer-group {
    display: none;
}

#site-footer.header-footer-group {
    display: none;
}



/* HEADER */

.site-logo {
    width: 191.61px;
    height: 18.87px;
}

body:not(.enable-search-modal) .site-logo img {
    margin-left: 37px;
}

div.header-inner.section-inner {
    padding: 0;
    margin: 0;
    width: 100% !important;
    max-width: unset;
}

.menu-item-40 a {
    color: black !important;
}
.menu-item-66 a {
    color: black !important;
    padding: 0 40px 0 40px;
}
.menu-item-41 a {
    width: 236px;
    color: white !important;
    font-weight: 700;
    background-color: #DC9F96;
    text-align: center;
    margin-right: 0;
}

li.menu-item a {
    font-size: 16px !important;
    height: 80px;
    padding-top: 30px;
}
.header-titles-wrapper {
    padding: 20px 0 20px 0;
}

/* MAIN */

h1 span {
    font-size: 38px;
}

.bloc-boisson { 
    margin-bottom: -20px !important;
}

.wp-block-group.alignfull.has-background.is-layout-constrained {
    padding-bottom: 1px;
}

.is-style-rounded-bottom {
    color: #b9b1aa;
    top: -90px;
    z-index: -1;
}

.titre-energie {
    margin-top: -30px !important;
}

.titre-gout {
    margin-top: -20px !important;
    margin-bottom: 10px !important;
}

.wp-block-gallery.has-nested-images.columns-2.is-cropped.wp-block-gallery-3.is-layout-flex img {
    width: 393px !important;
    height: 262px !important;
    padding: 15px;
}

.galerie-parfum img {


}

.wp-block-button__link.has-background.wp-element-button {
    width: 198px !important;
    height: 55px !important;
    font-family: 'Syne';
    font-weight: 400;
    text-transform : capitalize;
    margin-bottom: 0 !important;
}

/* HOOK ADMIN */

.admin-link {
    color: black !important;
    padding-top: 30px;
    width: 114px;
    text-align: center;
    
}


/* Images bloc NOUS RENCONTRER*/


.nous-recontrer {
    width:  680px !important;
}

.titre-204 {
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;
}

.titre-204::before {
    position: absolute;
    content: "";
    width: 145px;
    height: 100%;
    background: url("/plantyprojet/wp-content/uploads/2023/06/Group-2.png");
    background-size: 100% 100%;
    left: -180px;
    bottom: -25px;
}

.titre-equipe {
    margin-top: 80px !important;
    margin-bottom: -20px !important;
}

.block-equipe {
    gap: 0px;
}

.block-72 {
    position: relative;
}

.block-72::after {
    position: absolute;
    content: "";
    width: 180px;
    height: 206px;
    background: url("/plantyprojet/wp-content/uploads/2023/06/Group-4-e1688633658845.png");
    background-size: 100% 100%;
    z-index: 1;
    bottom: -80px;
    right: -120px; 
}

.group-contact {
    position: relative;
    z-index: -2;
    display: flex;
    align-items: center;

}
#wpcf7-f388-p28-o1 {
    justify-items: center;
}

#wpcf7-f388-p28-o1 label {
    font-size: 20px !important;

}

.wpcf7-form-control.message-contact {
    height: 237px !important;
}

.wpcf7-form-control.cta-contact {
    width: 198px !important;
    height: 55px !important;
    background-color: #DC9F96 !important;
    font-family: 'Syne';
    font-size: 15px !important;
    font-weight: 400;
    text-transform : capitalize !important;
    border-radius: 5px !important;
}

.block-message {
    position: relative;
}

.block-message:after {
    position: absolute;
    content: "";
    width: 185px;
    height: 178px;
    background: url("/plantyprojet/wp-content/uploads/2023/06/Group-16.png") no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    left: -88px;
    bottom: -63px;
}

.cta-block {
    text-align: center;
    margin: 0 0 50px 70px !important;

}

.is-style-canette {
    padding-top: 40px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color:#ECE2DA;
}



/* PAGE COMMANDER */

.container-commande {
    display: flex;
    padding-top: 20px !important;
 }

.groupe-commander {
    width: 860px !important;
}

.titre-commander {
    margin-bottom: 60px !important;
}

.titre-votre-commande {
    margin-top: 50px !important;
    margin-bottom: 10px !important;
}

.bloc-parfum { 
    margin-top: 0 !important;
}

.bloc-gout { 
    gap: 30px;
    margin-top: 0 !important;
}


/* Personnalisation du formulaire de commande */

.formulaire-commande {
    display: grid;    
    justify-content: center !important;
    color: white;
}

.informations-titre, .livraison-titre {
    margin-top: 0 !important;    
}

.informations {
    height: 435px;
    border-right: 1px solid white;
    padding: 0 45px 0 0 !important;  
    margin: 0 !important;
}

.livraison {
    padding-left: 45px;
    margin: 0 !important;
}

.cta {
    grid-column: 1 / 3;
    text-align: center;

}

#wpcf7-f365-p30-o1 label {
    color: white !important;
    font-size: 20px !important;
    width: 383px !important;
}

#wpcf7-f365-p30-o1 h3 {
    color: white !important;
    font-size: 30px !important;
    font-weight: 700 !important;
}

.wpcf7-form-control {
    width: 383px !important;
    height: 71px !important;
    border-radius: 7px !important;
    margin: 0 !important;
    margin-top: 8px !important;
}

.cta-commande {
    width: 198px !important;
    height: 55px !important;
    background-color: #DC9F96 !important;
    font-family: 'Syne';
    font-size: 15px !important;
    font-weight: 400;
    text-transform : capitalize !important;
    border-radius: 5px !important;
    text-align: center !important;
    margin: 30px 0 0 70px !important;
}


/* FOOTER */

div.footer-top.has-footer-menu {
    justify-content: center;
}

.footer-menu a {
    font-size: 16px;
    color: black !important;
    font-weight: 400;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    h1 {
        font-size: 28px !important;
    }

 



    .populaires-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 20px;
     
    }

    .populaires-cards .card {
        width: 100%;
        max-width: 258px;
    }

    .groupe-nous-rencontrer {
        margin-bottom: 0 !important;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    h1, h2, h3 {
        font-size: 15px;
    }
}
